/* 会社概要ページ */
#company_profile .content {
    max-width: 80%;
    margin: 0 auto;
    /* background-color:#fafafa; */
  }
  
   /* 見出し */
  #company_profile h1{
    text-align: center;
    color: #265DA6;
    margin-top: 90px;
  }
/* 表 */
  #company_profile table th{
    background: #CCD0D9;
    width: 200px;
  }
  #company_profile table{
    border-collapse:collapse;
    width: 100%;
  }
  #company_profile table th,table td{
    padding: 25px 20px;
    border:solid 1px #000000;
  }
  /* 沿革 表 */
  #company_profile table .showa{
    background: #D7E9F5;
  }
  #company_profile table .heisei{
    background: #D2EBFC;
  }
  #company_profile table .reiwa{
    background: #BEE5FF
  }
  #company_profile table .History{
    width: 12%;
  }
  /* googlemap */
  #company_profile iframe{
    width: 100%;
    height: 500px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 25px;
  }